####Assignment1

In [ ]:
Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
sake =['pwskills',[1,2,3],5.2,(0,1,2)]

In [2]:
sake

['pwskills', [1, 2, 3], 5.2, (0, 1, 2)]

#Q2. Given are some following variables containing data:
var1 =‘ ‘
var2 = ‘[ DS , ML , Python]’
var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
var4 = 1.
#What will be the data type of the above given variable.

In [7]:
var1 =‘ ‘               #format be ---> ('')
type(var1)

SyntaxError: invalid character '‘' (U+2018) (1406813403.py, line 1)

In [8]:
var2 = ‘[ DS , ML , Python]’
type(var2)

SyntaxError: invalid character '‘' (U+2018) (3990704681.py, line 1)

In [9]:
var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
type(var3)

SyntaxError: invalid character '‘' (U+2018) (763556664.py, line 1)

In [10]:
var4 = 1.
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [11]:
a=10
b=2

In [13]:
a/b  #'/' division symbol generates float value

5.0

In [15]:
a%b  #'%' modulus symbol generates remainder

0

In [16]:
a//b # '//' symbol generates integer

5

In [17]:
a**b #'**' power symbol gives a power  of b

100

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [21]:
sake =['pwskills',[1,2,3],5.2,(0,1,2),1,2,3,True,False,'ds']
print(len(sake))
for i in sake:
    print(i,type(i))

10
pwskills <class 'str'>
[1, 2, 3] <class 'list'>
5.2 <class 'float'>
(0, 1, 2) <class 'tuple'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
True <class 'bool'>
False <class 'bool'>
ds <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
A=20
B=5
i=0
while(A%B)==0:
    i=A//B
    print('number A is purely divisible by number B '.i)

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [24]:
list1=[]
for i in range(1,26):
    list1.append(i)

In [26]:
for i in list1:
    if (i%3)==0:
        print(i,'element is divisible by 3')
    else:
        print(i,' element is not divisible by 3')

1  element is not divisible by 3
2  element is not divisible by 3
3 element is divisible by 3
4  element is not divisible by 3
5  element is not divisible by 3
6 element is divisible by 3
7  element is not divisible by 3
8  element is not divisible by 3
9 element is divisible by 3
10  element is not divisible by 3
11  element is not divisible by 3
12 element is divisible by 3
13  element is not divisible by 3
14  element is not divisible by 3
15 element is divisible by 3
16  element is not divisible by 3
17  element is not divisible by 3
18 element is divisible by 3
19  element is not divisible by 3
20  element is not divisible by 3
21 element is divisible by 3
22  element is not divisible by 3
23  element is not divisible by 3
24 element is divisible by 3
25  element is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable Objects	
A mutable object can be changed after it is created	
Examples : List, Set, Dictionary

In [28]:
l=[1,2,3]
l

[1, 2, 3]

In [31]:
l[1]=0   # see here we can change value by index
l

[1, 0, 3]

Immutable Objects
An immutable object cannot be changed after it is created
Exg: tuples, int, float, bool, frozenset.

In [32]:
t=(1,2,3)
t

(1, 2, 3)

In [33]:
t(0)=0   # it generates error due to its immutable property

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (4191587882.py, line 1)